<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div>
      <form class="form" action="/result" method="post">
        {% csrf_token %}

        <div>
          <label for="name">Your Name:</label>
          <input type="text" id="name" name="name" />
        </div>

        <div >
          <label for="location">Dojo Location:</label>
          <select name="location" id="location">
            <option value="San Jose">San Jose</option>
            <option value="San Francisco">San Francisco</option>
            <option value="Los Angeles">Los Angeles</option>
          </select>
        </div>

        <div>
          <label for="fav-lang">Favorite Language</label>
          <select name="fav-lang" id="fav-lang">
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="PHP">PHP</option>
          </select>
        </div>

        <div>
          <p>Have any Experiences?</p>
          <div ">
            <input type="radio" id="experienced" name="answer" value="Yes" />
            <label for="experienced">Yes</label>
          </div>
          <div>
            <input type="radio" id="not_experienced" name="answer" value="No" />
            <label for="not_experienced">No</label>
          </div>
        </div>

        <div>
          <p>What do you speak</p>
          <div>
            <input type="checkbox" id="arabic" name="Lang" value="Arabic" />
            <label for="arabic">Arabic</label>
          </div>
          <div>
            <input type="checkbox" id="english" name="Lang" value="English" />
            <label for="english">English</label>
          </div>
        </div>

        <div>
          <label for="comments" class="label-col">Comment (optional)</label>
          <textarea
            name="comments"
            id="comments"
            cols="30"
            rows="5"
          ></textarea>
        </div>

        <div>
          <input type="submit" value="Submit" class="btn" />
        </div>
      </form>
    </div>
  </body>
</html>