

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("top-view-bowl-with-lentils-variety-condiments_1220-423.avif") no-repeat center/cover;
}

.overlay {
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menu-card {
    color:chartreuse;
  width: 80%;
  border-radius: 20px;
  padding: 25px;
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
   padding: 0; 
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.food-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.info {
  flex: 1;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.ingredients {
  font-size: 14px;
  color: whitesmoke;
}

.price {
  font-weight: bold;
  color: gold;
}